<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozeken.expensecalendar.repository.UserMapper">

    <select id="selectByUsername" resultType="com.ozeken.expensecalendar.entity.AppUser">
        SELECT
          id,
          username,
          password,
          role
        FROM
          users
        WHERE
          username = #{username}
      </select>
      
      <insert id="insertUser" parameterType="com.ozeken.expensecalendar.entity.AppUser">
        INSERT INTO users (username, password, role)
        VALUES (#{username}, #{password}, #{role})
    </insert>
      
</mapper>