@charset "UTF-8";

/* テーブル */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #555;
}

tr:hover {
    background-color: #f9f9f9;
}

/* 下部リンク */
a.bottom-link {
    margin-right: 10px;
    font-size: 14px;
}

/* データなしの行 */
.no-data {
    text-align: center;
    padding: 20px;
    color: #777;
}

.button.detail {
    background-color: rgb(204, 173, 209);
}

.button.detail:hover {
    background-color: rgb(186, 153, 191) !important;
}

.button.delete {
    background-color: #f08080;
}

.button.delete:hover {
    background-color: #e06666 !important;
}

@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        padding: 10px;
        font-size: 14px;
    }

    a.bottom-link {
        display: block;
        margin-bottom: 10px;
    }
}