<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>カレンダー型家計簿</title>
    <link rel="stylesheet" th:href="@{/css/ress.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/calendar.css}">
</head>

<body>
    <h1 th:text="${year} + '年' + ${month} + '月の家計簿'"></h1>
    <br>
    <div>
        <a th:href="@{/expenses/calendar(year=${prevYear}, month=${prevMonth})}" class="button">← 前の月</a>
        |
        <a th:href="@{/expenses/calendar(year=${nextYear}, month=${nextMonth})}" class="button">次の月 →</a>
    </div>


    <table border="1">
        <thead>
            <tr>
                <th style="color: red;">日</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th style="color: blue;">土</th>
            </tr>
        </thead>
        <tbody>

            <!-- カレンダー -->
            <!-- 42個のセルを作成-->
            <!-- cellIndex=0から41までの42個のセル--><!-- week-1はインデックス0から始まるため -->
            <!-- dateNum=1から31までの日にち--><!-- +1をするのは日にちは1から始まるため -->
            <tr th:each="week : ${#numbers.sequence(1, 6)}">
                <td th:each="dayOfWeek : ${#numbers.sequence(0, 6)}"
                    th:with="cellIndex=${(week - 1) * 7 + dayOfWeek},
                             dateNum=${cellIndex - firstDayOfWeek + 1}">

                    <!-- 空白セル --><!-- 月始めより前と、月終わりより後に表示しないようにする処理-->
                    <div th:if="${cellIndex < firstDayOfWeek or dateNum > daysInMonth}">
                        &nbsp;
                    </div>

                    <!-- 日付と支出 -->
                    <div th:if="${cellIndex >= firstDayOfWeek and dateNum <= daysInMonth}">
                        <span th:text="${dateNum}"></span><br>

                        <!-- 金額表示 -->
                        <span th:each="expense : ${expenses}"
                              th:if="${expense.date.dayOfMonth == (dateNum)}"
                              th:text="${expense.category} + '￥' + ${expense.amount}"
                              class="amount">
                        </span>
                        
                    </div>
                    
                </td>
            </tr>

        </tbody>
    </table>

    <br>
    <a th:href="@{/expenses}" class="button">一覧に戻る</a>
</body>
</html>
