<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>支出の登録</title>
    <link rel="stylesheet" th:href="@{/css/ress.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    <h1 th:text="${expenseForm.id} != null ? '支出の編集' : '支出の登録'"></h1>

    <!-- フォーム開始 -->
    <form th:action="@{${postUrl}}" th:object="${expenseForm}" method="post">
        

         <!-- hiddenのid（編集時用） -->
        <input type="hidden" th:field="*{id}" />
        
        <!-- 日付入力 -->
        <div class="form-group">
            <label>日付：</label>
            <input type="date" th:field="*{date}" />
            <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="error-message"></div>
        </div>

        <!-- カテゴリ入力 -->
        <div class="form-group">
            <label>カテゴリ：</label>
        <select th:field="*{genreId}">
            <option value="1">食費</option>
            <option value="2">交通費</option>
            <option value="3">日用品</option>
            <option value="4">娯楽</option>
            <option value="5">その他</option>
        </select>
        </div>

        <!-- 金額入力 -->
        <div class="form-group">
            <label>金額：</label>
            <input type="number" th:field="*{amount}" max="2147483647" />
            <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error-message"></div>
        </div>

        <!-- 説明入力 -->
        <div class="form-group">
            <label>説明：</label>
            <textarea th:field="*{description}" rows="3" cols="30" placeholder="メモ（空欄でもOK）"></textarea>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error-message"></div>
        </div>

        <!-- 送信ボタン -->
        <div class="form-group">
            <button type="submit" th:text="${expenseForm.id} != null ? '更新' : '登録'" class="button register"></button>
        </div>

    </form>

    <br>

    <!-- 一覧に戻るリンク -->
    <div class="return-wrapper" >
        <a th:href="@{${returnUrl}}" class="return-button">一覧に戻る</a>
    </div>

</body>
</html>
