@charset "UTF-8";

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #aaa;
    text-align: left;
    vertical-align: top;
    padding: 8px;
    height: 100px;
    font-size: 14px;
}

th {
    background-color: #f0f0f0;
}

td span {
    display: block;
}

td .amount {
    color: indianred;
    font-weight: bold;
    margin-top: 5px;
}

td.empty {
    background-color: #f9f9f9;
}

.calendar-instruction {
    font-size: 1.2em;
    background-color: orangered;
    font-weight: bold;
    color: #f0f0f0;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.calendar-controls {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: left;
    flex-wrap: wrap;
}

.total-amount {
    color:red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.calendar-date-link {
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 4px;
}


.calendar-date-link:hover {
    color: #007bff;
    transform: scale(1.1); /* ホバー時に拡大 */
}
