<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
    <link rel="stylesheet" th:href="@{/css/ress.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    
    <div class="container">
    
    <h1>ユーザー登録フォーム</h1>
    
    <!-- エラーメッセージがある場合に表示 -->
        <p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></p>
    
    <form th:action="@{/register}" method="post" th:object="${registerForm}">
        
        <label for="username">ユーザー名：</label>
        <input type="text" th:field="*{username}" /><br>
        <small class="hint">ユーザー名は4〜20文字、英数字、アンダースコア(_)とドット(.)が使えます。</small>
        <br>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></span>
        <br>

        <label for="password">パスワード：</label>
        <input type="password" th:field="*{password}" /><br>
        <small class="hint">パスワードは英字と数字を含む8〜30文字にしてください。</small>
        <br>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span>
        <br>
        
        <div class="form-group">
        <button type="submit" value="登録" class="button register">登録</button>
        </div>
        
    </form>
    <br>
    
    <div class="return-wrapper">
    <p>すでにアカウントをお持ちの方は<a th:href="@{/login}" class="login">ログイン</a>へ</p>
    <br>
    <a th:href="@{/}" class="return-button">トップに戻る</a>
    </div>
    
    </div>
    
</body>
</html>
